# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.settings
.classpath
Input03.java
src/module-info.java
src/basisProgrammeren1/Variables03.java
src/basisProgrammeren1/Variables02.java
src/basisProgrammeren1/Driver.java
src/basisProgrammeren1/Chickens01.java
.project
src/basisProgrammeren1/iets.java
src/basisProgrammeren1/AgeValidity.java
src/basisProgrammeren1/ChkOddEven.java
src/basisProgrammeren1/AgeCheck.java
src/basisProgrammeren1/ShoppingCart.java
src/basisProgrammeren1/StringEquality.java
AgeValidity.java
